.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", account_timesheets_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_account_timesheet_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Timesheets
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.account_timesheet._type", :default => t("activerecord.labels._type", :default => "_type"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @timesheets.each do |timesheet|
          %tr{:class => cycle("odd", "even")}
            %td
              = timesheet.id
            %td
              = link_to timesheet._type, account_timesheet_path(timesheet)
            %td
              = timesheet.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", account_timesheet_path(timesheet)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_account_timesheet_path(timesheet)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", account_timesheet_path(timesheet), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @timesheets
- content_for :sidebar, render(:partial => 'sidebar')
