.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", timesheets_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_timesheet_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", timesheet_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.timesheet.hours", :default => t("activerecord.labels.hours", :default => "Hours"))
          \:
        = @timesheet.hours
      %p
        %b
          = t("activerecord.attributes.timesheet.date", :default => t("activerecord.labels.date", :default => "Date"))
          \:
        = l @timesheet.date
      %p
        %b
          = t("activerecord.attributes.timesheet.notes", :default => t("activerecord.labels.notes", :default => "Notes"))
          \:
        = @timesheet.notes
      %p
        %b
          = t("activerecord.attributes.project.name", :default => t("activerecord.labels.project", :default => "Project"))
          \:
        = @timesheet.project.name
      %p
        %b
          = t("activerecord.attributes.taks.name", :default => t("activerecord.labels.task", :default => "Task"))
          \:
        = @timesheet.task.try(:name)
      %p
        %b
          = t("activerecord.attributes.user.full_name", :default => t("activerecord.labels.user", :default => "User"))
          \:
        = @timesheet.user.full_name
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_timesheet_path(@timesheet), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), timesheet_path(@timesheet), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
