.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", projects_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_project_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", project_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.project._id", :default => t("activerecord.labels._id", :default => "ID"))
          \:
        = @project._id
      %p
        %b
          = t("activerecord.attributes.project.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @project.name
      %p
        %b
          = t("activerecord.attributes.project.members", :default => t("activerecord.labels.name", :default => "Members"))
          \:
        = @project.members.map{|u| u.full_name}.join(", ")
      %p
        %b
          = t("activerecord.attributes.project.description", :default => t("activerecord.labels.description", :default => "Description"))
          \:
        = @project.description
      .wat-cf
        = link_to image_tag("web-app-theme/themes/default/images/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_project_path(@project), :class => "button"
        = link_to image_tag("web-app-theme/themes/default/images/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), project_path(@project), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
